<p>
  <ion-card class="ion-text-center">
    <ion-card-title>
      <ion-card>
      <ion-select placeholder="Seleccione Asignatura" [(ngModel)]="user">
        <ion-select-option *ngFor="let usu of users" [value]="usu">{{usu.name}}</ion-select-option>
      </ion-select>
    </ion-card>

      <ion-button (click)="scan()">
        Escanear QR
      </ion-button>
      <ion-card>
        {{code}}
      </ion-card>
      <ion-card>
        <ion-button full  href="mailto:NAN.BERNAL@PROFESOR.DUOC.CL?cc=NAN.BERNAL@PROFESOR.DUOC.CLm&amp;subject=Envio%20de%20asistencia%20online&amp;body={{code}}">
          Enviar Mensaje
        </ion-button>
      </ion-card>
      
    </ion-card-title>
    <ion-card-content>



    </ion-card-content>

  </ion-card>
</p>