.regis{
    color:darkgray;
    text-align: center;
    
}
.fondo{
    color: white;
    background-color: white;
    border-color: white;
    background-image: url(../../../assets/img/fondo.png);
}
.logo{
    height: auto;
    width: auto;
}
